#searchBar{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 5px solid #00d0b1;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#mainPage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.status-instock {
    background: #c8e6c9;
    color: #256029;
}
.product-badge {
    border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
